.container {
  padding: 20px;
}

.product-img {
  background: rgb(61, 24, 24);
  background: radial-gradient(circle, rgba(206, 69, 69, 0.597) 34%, rgb(243, 237, 237) 100%);
}

.product-name {
  font-size: 20px;
  font-weight: 600;
}

audio{
  display: flex;
  justify-items: center;
}


